target
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/
.mvn/wrapper
.mvn/
.mvn
mvnw
mvnw.cmd
.idea
*.iml
*.ipr
*.iws
.git
.gitignore
Dockerfile*
README.md
node_modules
dist
