<div class="">

  <h1 class="text-center">Version: 1.0.1</h1>

  <div class="container text-center">
    <div class="row align-items-center justify-content-center">
      <div class="col-4 bg-secondary text-white">
        <h1>Usuarios</h1>
        <div class="content" role="main" *ngIf="users$ | async as users">
          <p *ngFor="let user of users">
            Name: {{ user?.name}}
          </p>
        </div>
      </div>
      <div class="col-4 bg-dark text-white">
        <h1>Pokemones</h1>
        <div>
          @for (poke of pokeRegister; track poke.id) {
            <div class="content">
              <pre>Name: {{poke.name}}</pre>
              <img src="{{poke.sprites.front_default}}" alt="pokemon" />
            </div>
          }
        </div>
      </div>
    </div>
  </div>





</div>
