<div class="">

  <div class="text-center">
    <h1>Version: 1.0.4</h1>
    <pre>BaseUrl: {{Url}}</pre>
  </div>

  <div class="container text-center">

    <div class="row align-items-center justify-content-evenly">

      <div class="col-md-4 bg-dark text-white">
        <h1>Usuarios</h1>
        <div class="content" style="border: 1px dashed greenyellow;" role="main" *ngIf="users$ | async as users">
          <p *ngFor="let user of users">
            Name: {{ user?.name}}
          </p>
        </div>
      </div>

      <div class="col-md-4">
        @for (poke of pokeRegister; track poke.id) {
          <div class="card mt-3 border-warning bg-dark text-white" style="width: 9rem;">
            <img src="{{poke.sprites.front_default}}" class="card-img-top" alt="{{poke.name}}">
            <div class="card-body">
              <h5 class="card-title">{{poke.name}}</h5>
            </div>
          </div>
        }
      </div>

    </div>
  </div>





</div>
